gitdb==4.0.11
GitPython==3.1.43
google-crc32c==1.6.0
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.20.1
opencv-python-headless==4.10.0.84
pandas==2.2.3
pandocfilters==1.5.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.2
pyzmq==26.2.0
redis==5.2.0
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
streamlit==1.30.0
streamlit-authenticator==0.3.1
streamlit-webrtc==0.47.9
types-python-dateutil==2.9.0.20241003
